
<h1>Hello {{name.fName}}!</h1>
<h2>Your Current Information:</h2>
<h4><strong>Name/Occupation:</strong> {{name.fName}} {{name.lName}}, {{profession}}</h4>
<h4><strong>Email:</strong> {{email}}</h4>
<h4><strong>Address:</strong> {{address.streetAdd}} {{address.city}}, {{address.state}} {{address.zip}}</h4>

<button (click)="toggleEdit()">{{showEdit ? "Hide Editor" : "Edit Info"}}</button>

<div *ngIf="showEdit">
<h4 style="display:inline">First Name: </h4><input [(ngModel)]="name.fName" style="display:inline"/>
    <br/>
<h4 style="display:inline">Edit Last Name: </h4><input [(ngModel)]="name.lName" style="display:inline" />
    <br />
<h4 style="display:inline">Edit Profession: </h4><input [(ngModel)]="profession" style="display:inline" />
    <br />
<h4 style="display:inline">Edit Email: </h4><input [(ngModel)]="email" style="display:inline" />
    <br />
    <h4 style="display:inline">Edit Street Address: </h4><input [(ngModel)]="address.streetAdd" style="display:inline" />
    <br />
    <h4 style="display:inline">Edit City: </h4><input [(ngModel)]="address.city" style="display:inline" />
    <br />
    <h4 style="display:inline">Edit State: </h4><input [(ngModel)]="address.state" style="display:inline" />
    <br />
    <h4 style="display:inline">Edit Zipcode: </h4><input type="number" [(ngModel)]="address.zip" style="display:inline" />
</div>
